<div class="cat-bar">
  <div class="container-fluid">
    <ul class="nav nav-fill">
      <% @categories.each do |category| %>
        <li class="nav-item">
          <%= link_to category.title, services_category_path(category), class: 'nav-link' %>
        </li>
      <% end %>
    </ul>  
  </div> 
</div>