<!--SHOWCASE SLIDER -->
<section id="showcase">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="0"></li>
      <li data-target="#myCarousel" data-slide-to="0"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item carousel-image-1 active">
        <div class="container">
          <div class="carousel-caption mb-5">
            <h1 class="display-4">Don't Just Dream, Do</h1>
            <p class="lead d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores illo non quam ipsam sequi odio recusandae tempore totam necessitatibus repellat eveniet alias id aperiam, voluptas, qui numquam fuga officiis suscipit.
            </p>
            <a href="#" class="btn btn-danger btn-lg">Sign Up Now</a>
          </div>
        </div>
      </div>
      <div class="carousel-item carousel-image-2">
        <div class="container">
          <div class="carousel-caption mb-5">
            <h1 class="display-4">Work Your Way</h1>
            <p class="lead d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores illo non quam ipsam sequi odio recusandae tempore  totam necessitatibus repellat eveniet alias id aperiam, voluptas, qui numquam fuga officiis suscipit.
            </p>
            <a href="#" class="btn btn-primary btn-lg">Learn More</a>
          </div>
        </div>
      </div>
      <div class="carousel-item carousel-image-3">
        <div class="container">
          <div class="carousel-caption mb-5">
            <h1 class="display-4">On Demand Services Made For You</h1>
            <p class="lead d-none d-sm-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores illo non quam ipsam sequi odio recusandae tempore  totam necessitatibus repellat eveniet alias id aperiam, voluptas, qui numquam fuga officiis suscipit.
            </p>
            <a href="#" class="btn btn-success btn-lg">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
      <span class="carousel-control-prev-icon">
      </span>
    </a>

    <a href="#myCarousel" data-slide="next" class="carousel-control-next">
      <span class="carousel-control-next-icon">
      </span>
    </a>
  </div>
</section>