<section id="home-service" class="py-5">
  <div class="container pb-3">
    <h1 class="bold text-center">The Most Popular Services</h3>
    <h5 class="text-center">See what other people are looking for</h5>
  </div>
  <div id="page-services" class="home-service-wrapper">
    <div class="row">
      <%= render partial: 'shared/services-row', locals: {services: @services} %>
    </div>
  </div>
</section>

